:root {
	--section-dark: rgba(13, 29, 43, 1);
	--section-light: rgba(13, 29, 43, 0.8);
	--accent-background: #05101a;
	--accent-rgba: rgba(5, 16, 26, 0.8);
	--action-color: #FF7700;
	--font-color: #f6f6f6;
	--background-img-path: url(../images/night_mountains_hero.svg);
}
/*-----Global Styles-----*/
html {
	box-sizing: border-box;
	font-size: calc(0.5em + 2.5vmin);
	scroll-behavior: smooth;
	overflow-x: hidden;
}
*, *:before, *:after { box-sizing: inherit; }
/*a tag padding makes click targets bigger for mobile and motor disabled people*/
a {
	padding: 10px;
	color: var(--font-color);
	display: inline-block;
}
body {
	color: var(--font-color);
	text-align: left;
	margin: 0;
	line-height: 200%;
	background-color: var(--accent-background);
	font-family: 'Quicksand', sans-serif;
	overflow-x: hidden;
}
p::first-letter, h2::first-letter, h3::first-letter, h4::first-letter {
	font-family: 'Pacifico', cursive;
	font-size: 1.25rem;
	/*this is so that the next letter isn't so close due to the increased size*/
	letter-spacing: .25rem;
}
.github {
	height: 2rem;
	width: 2rem !important;
	min-width: 2rem !important;
	position: unset !important;
	margin-left: .75rem;
}
.externalLink {
	height: 1.8rem;
	width: 1.8rem !important;
	min-width: 2rem !important;
	position: unset !important;
	/** 
	* .1rem margin makes the external link and github image centered.
	* The github image has some space around it in the image file and the
	* externalLnk image dose not have this space in the image file.
	*/
	margin: .1rem;
	margin-left: .75rem;
}
/*-----Page order-----*/
.canvas_container {
	min-height: 90vh;
	max-height: 90vh;
	min-width: 100vw;
	max-width: 100vw;
}
#canvas1 {
	margin-bottom: -9vw;
	z-index: 10;
	position: fixed;
	z-index: -3;
}
.herocontent {
	font-weight: bold;
	font-size: 1.75rem;
	position: absolute;
	top: calc(25vmax - (calc(0.5em + 2.5vmin)*2));
	max-width: 100vw;
	min-width: 100vw;
	letter-spacing: 8px;
	padding: 1rem;
}
svg  {
	width: 95vw;
	height: 100vh;
	max-width: 1800px;
	display: block;
	margin: auto;
}
@keyframes draw {
   	90% {
	   fill: transparent;
   	}
	100% {
	   stroke-dashoffset: 0;
	   fill: #ff7700;
	}
}
/* Hero Images*/
.hero-img {
	background: var(--background-img-path);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: -2;
	position: fixed;
	height: 100vh;
	width: 100vw;
	margin-bottom: -7vw;
}
#heroText {
	stroke:#ff7700;stroke-width:0.465;
	fill: transparent;
	animation-name: draw;
	stroke-dasharray: 80 ;
	stroke-dashoffset: 80;
	animation-fill-mode: forwards;
	animation-duration: 2s ;
	animation-delay: 400ms;
}
h1, h2 { text-align: center; }
h1 {
	font-size: 2.5rem;
	font-family: 'Pacifico', cursive;
	letter-spacing: .25rem;
}
h2 {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
}
.section-dark, .section-light {
	-webkit-clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% calc(100% - 7vw), 50% 100%, 0 calc(100% - 7vw));
	-moz-clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% calc(100% - 7vw), 50% 100%, 0 calc(100% - 7vw));
	-ms-clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% calc(100% - 7vw), 50% 100%, 0 calc(100% - 7vw));
	-o-clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% calc(100% - 7vw), 50% 100%, 0 calc(100% - 7vw));
	clip-path: polygon(0 0, 50% 7vw, 100% 0%, 100% calc(100% - 7vw), 50% 100%, 0 calc(100% - 7vw));
	margin-bottom: -7.1vw;
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.section-light { background-color: var(--section-light); }
.section-dark { background-color: var(--section-dark); }
.grid {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
}
.col_container {
	grid-column-start: 2;
	grid-column-end: 11;
	padding: .75rem;
}
.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
footer {
	background-color: var(--accent-background);
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: .75rem;
	text-align: center;
	line-height: 150%;
}
.show_hover:hover, .show_hover:focus, a:hover, a:focus, h4:hover, h4:focus, h3:hover, h3:focus {
	transform: scale(1.1);
	z-index: 10;
	transition-duration: 150ms;
}
/*About Me Section*/
button {
	display: block;
	text-align: center;
	background-color: var(--action-color);
	width: 80vw;
	max-width: 300px;
	margin: auto;
	border-radius: 15px;
	border: none;
	padding: .25rem;
}
button a, button a:visited{ 
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5rem;
	font-weight: light;
	color: var(--accent-background);
 }
#edu, #skill { grid-row-gap: 0; }
#edu ul {
	list-style-type: none;
	text-align: left;
}
.edu-ul li { font-weight: bold; }
.edu-ul ul li {
	list-style-type: none;
	font-weight: normal;
}
.grad_cap { height: 1rem; }
#skills h2 {
	grid-column-start: 1;
	grid-column-end: 12;
}
.skill_col_1 {
	grid-column-start: 2;
	grid-column-end: 10;
}
.skill_col_2{
	grid-column-start: 2;
	grid-column-end: 10;
}
#skills h4 {
	display: inline-block;
	margin: 0;
}
/*icon colors and size for img*/
.svgSkillIconHeight { height: 1.25rem !important}
.skillIconHeight { height: 1rem; }
.contact_icon { height: 5rem; }
.portfolio .col_container {
	padding: 0;
	margin: 0;
	background-color: transparent;
	grid-row-gap: 1rem;
}
.portfolio a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.port_col_1_5 {
	grid-column-start: 1;
	grid-column-end: 12;	
}
.port_col_5_12 {
	grid-column-start: 1;
	grid-column-end: 12;
}
.port_col_full_width {
	grid-column-start: 1;
	grid-column-end: 12;
	margin-top: .75rem;
}
.portfolio h3 {
	color: var(--font-color);
	padding: .75rem;
	margin: 0;
}
.portfolio img {
	max-width: 80vw;
	min-width: 80vw;
}
.portfolio p {
	margin: 0;
	padding: 0 .75rem .75rem .75rem;
}
.slideIn {
	opacity: 0;
	transition: all 1s;
	transition-timing-function: ease-in-out;
}
.slideIn.left { transform: translateX(-50%); }
.slideIn.right { transform: translateX(50%); }
.slideIn.startSlideIn {
	transform: translateX(0%);
	opacity: 1;
	transition-delay: .25s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.fadeIn {
	opacity: 0;
	animation-name: fadeIn;
	animation-fill-mode: forwards;
	animation-duration: 2s;
}
@media only screen and (min-width: 500px ) {
	svg { height: auto; }
	h2 { font-size: 1.5rem; }
}
/*phablet, tablet, desktop media query*/
@media only screen and (min-width: 1200px) {
	.herocontent { top: calc(30vh - 8rem); }
	.hero-img { background-size: 100% 100%; }
	.hero1 {
		background-attachment: fixed;
		background-size: 100% 100%;
	}
	/*portfolio grid columns sizing*/
	.port_col_1_5 {
		grid-column-start: 1;
		grid-column-end: 6;
		min-height: 10vw;
	}
	.port_col_5_12 {
		grid-column-start: 6;
		grid-column-end: 12;
		min-height: 10vw;
	}
	.portfolio img {
		max-width: 100%;
		min-width: 100%;	
	}
	.portfolio p { min-height: 10vw; }
	/*skills grid sizing*/
	#skills { grid-row-gap: 1rem; }
	.skill_col_1 {
		grid-column-start: 2;
		grid-column-end: 6;
	}
	.skill_col_2{
		grid-column-start: 7;
		grid-column-end: 10;
	}
	/* img animation*/
	/*required me to put all the classes would not work with just updating one*/
	.slideinimg {
		opacity: 0;
		transition: all 1s;
		transition-timing-function: ease-in-out;
	}
	.slideinimg.left { transform: translateX(-100%); }
	.slideinimg.right { transform: translateX(100%); }
	.slideinimg.showimg {
		transform: translateX(0%);
		opacity: 1;
	}
}
/*widescreen desktop*/
@media only screen and ( min-width: 1700px ) {
	.section-light {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}
	.section-dark {
		padding-top: 7rem;
		padding-bottom: 7rem;
	}
}