/*navigation*/
.page_transition{
	animation-name: page_transition;
	animation-iteration-count: 1;
	animation-duration: .5s;
}
@keyframes page_transition{
	0%{
		opacity: 0;
		transform: scale(0);
		transform-origin: top;
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}
/* title animations */
.fade_in {
	opacity: 1;
	animation-name: fade_in_opacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .75s;
    
}

.fade_in2{
	opacity: 1;
	animation-name: fade_in_opacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .75s;
    animation-delay: .5s;
}

video {
	object-fit: cover;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	/* this fixed the button problem */
}

@keyframes fade_in_opacity {
	0% {
		opacity: .25;
		transform: rotateY(90deg);
		filter: blur(10px);
	}

	100% {
		opacity: 1;
		transform: rotateY(0deg);
		filter: blur(0);
	}
}

.contact_button:active {
	font-size: 1.25rem;
}

.contact_button:hover {
	color: lightgray;
}

/*area conteact us services animations*/

@keyframes slide_in_from_right {

	from {
		transform: translateX(500px);
        opacity: 0.2;
		
	}

	to {
		transform: translateX(0px);
        opacity: 1;
	}

}

.slide_in_right{
	animation-name: slide_in_from_right;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}


@keyframes slide_in_from_left {

	from {
		transform: translateX(-500px);
		opacity: 0.2;
	}

	to {
		transform: translateX(0px);
		opacity: 1;
	}

}

.slide_in_left {

	animation-name: slide_in_from_left;
	animation-duration: 1s;
	animation-fill-mode: forwards;

}


/*i need repair section animations*/

@keyframes pop {

	from {

		opacity: 0.2;
		font-size: 2em;
	}

	to {

		opacity: 1;
		font-size: 1.5em;
	}

}

.pop_in {

	animation-name: pop;
	animation-duration: 1s;
	animation-fill-mode: forwards;

}

/*media query for desktop*/
@media screen and (min-width: 800px) {

	/* services flex item */
	.flex_item:hover {
		animation-name: scale_to_screen;
		animation-duration: .2s;
		animation-fill-mode: forwards;
	}

	@keyframes scale_to_screen {
		from {}

		to {
			width: 30vw;
			height: auto;
		}
	}
}
